* { margin: 0; padding: 0; }
body{
    width: 100%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    background-color: hsl(275, 100%, 97%);
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 27px 27px;
    background-color: white;
    margin: 90px auto;
    border-radius: 2%;
}
/*header*/
.main-header{
    display: flex;
    flex-direction: row;
    height: 25%;
    padding: 5px 0 15px 0;
    align-items: center;
    
}
.main-header img{
    height: 27px;
    width: 28px;
}

/*drop down header styles*/
.drop-down{
    position: relative;
    border-bottom: 2px hsl(275, 100%, 97%) solid;
    padding: 9px 5px;  
}

.drop-down:last-child {
    position: relative;
    border-bottom: none; 
}

.drop-down-header:hover{
    color:#9A00E6;
    caret-color: black;
}

.main-header h1{
    margin: 0;
    color: hsl(292, 42%, 14%);
    padding-left: 17px;
    align-self: center;
    font-size: 36px;
}

.main-header span{
    align-self: center;
    padding-right: 17px;
    font-size: 48px;
   
}


/*drop-down item styles*/

.drop-down-item{
    position: relative;
    max-height: 0;
    overflow: hidden;
    text-align: justify;
    transition: max-height .4s ease;
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    font-weight: 400;
}

.drop-down-header{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center; 
}

.drop-down-item p{
    margin: 0;
    padding: 15px 0;
    font-size: 13px;
    line-height: 16px;
    color: hsl(292, 16%, 49%);
}

.drop-down img{
    width: 25px;
    height: 25px;
}

h3{
    font-weight: 600;
    font-size: 14px;
    width: 85%;
   
}



/*active styles*/
.faq.active .drop-down-item{
    display: block;
    max-height: 300px;
}
.icon-plus{
display: block;
}
.icon-minus{
display: none;
}
.faq.active .icon-plus{
display: none;
}
.faq.active .icon-minus{
    display: block;
  
}

/*footer*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/#:~:text=320px%20%E2%80%94%20480px%3A%20Mobile%20devices,%E2%80%94%201200px%3A%20Desktops%2C%20large%20screens */

/*media queries mobile*/
@media (max-width: 480px){

    .drop-down-item p{
        font-size: 12px;
    }
    main{
        width: 65%;
    }
    .main-header h1{
        font-size: 30px;
    }

    .main-header img{
        height: 25px;
        width: 27px;

    }
    .drop-down img{
        width: 27px;
        height: 27px;
    }
}
